
$durationIn: 400ms;
$durationOut: 750ms;


/*//////////////////////////////////////////////////// */
/* Slide Left, Slide Right */

.slide-left-enter-active{
	transition: all $durationIn ease-in-out;
}

.slide-left-leave-active{
	transition: all $durationOut ease-in-out;
}

.slide-right-enter-active{
	transition: all $durationIn ease-in-out;
}

.slide-right-leave-active{
	transition: all $durationOut ease-in-out;
}

.slide-left-enter, .slide-right-leave-to{
	//opacity: 0;
	transform: translate3D(100%, 0, 0);
}

.slide-left-leave-to, .slide-right-enter{
	//opacity: 0;
	transform: translate3D(-100%, 0, 0);
}



/*//////////////////////////////////////////////////// */
/* Slide Up, Slide Down */

.slide-up-enter-active{
	transition: all $durationIn ease-in-out;
}

.slide-up-leave-active{
	transition: all $durationOut ease-in-out;
}

.slide-down-enter-active{
	transition: all $durationIn ease-in-out;
}

.slide-down-leave-active{
	transition: all $durationOut ease-in-out;
}

.slide-up-enter, .slide-down-leave-to{
	opacity: 0;
	transform: translateY(100%);
}

.slide-up-leave-to, .slide-down-enter{
	opacity: 0;
	transform: translateY(-100%);
}


/*//////////////////////////////////////////////////// */
/* Fade */
.fade-enter-active, .fade-leave-active{
	transition: all 400ms ease-in-out;
}

.fade-enter, .fade-leave-to{
	opacity: 0;
}
